body{
    margin: 0;
}

.header{
    
    height: 80px;
}

.header-block{
    width: 1000px;
    /* margin: 200px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;


    top right bottom left;
    margin: 0 200px 0 200px;

    top-bottom  left-right
    margin: 0 200px; */


    margin: 0 auto;
}

.logo{
    width: 200px;
    float: left;
    
}

.logo h1{
    font-family: 'Lobster' ;

}

.menu{
    width: 600px;
    float: left;
}

.menu ul{
    padding-top: 20px;
}

.menu ul li{
    list-style-type: none;
    float: left;
    margin: 0 20px;
}

.social-media{
    width: 200px;
    float: left;
}

.fab {
    margin: 15px;
    padding-top: 20px;
}


.slider{
    height: 350px;

}

.slider-block{
    width: 1000px;
    height: 350px;
    background: hotpink;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://placeimg.com/1000/350/nature);
    background-repeat: no-repeat;
    color: black;
}
.slider-block h3{
    padding-top: 150px;
}

.content{
    height: 350px;
}

.content-block{
    width: 1000px;
    background: khaki;
    margin: 0 auto;

}

.card{
    width: 320px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.card:nth-child(3){
    margin-right: 0;
}

.card-content{
    text-align: center;
}

.card-content button{
    border: 0;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background: brown;
    color: cornsilk;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

.card-content button:focus{
    outline: none;
}

.card-content  button:hover{
    background: sandybrown;
    color: black;
}

.card-content h4{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;

}

.card-content p{
    color: gray;
    font-weight: 100;
    font-size: 12px;
}

.footer{
    background: rgb(121, 117, 117);
    height: 50px;
}

.footer-block{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

.footer-block p{
    font-size: 14px;
    color: ivory;
    font-weight: 100;
}